md-toolbar(layout="row" layout-align="center center")
	.md-toolbar-tools
		span Web Snap
		span(flex='')
		md-button(class="md-fab md-warn md-mini")
			md-icon(md-svg-src="assets/images/logout.svg")
		
