md-toolbar(layout="row" layout-align="center center")
	.md-toolbar-tools
		h2 Web Snap
		span(flex='')
		span Hello! {{vm.name}}
		md-button(class="md-raised md-warn md-mini" aria-label='logout' ng-click='vm.logout()') Log Out
		
